{% load static %} 
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Mental Health Awareness{% endblock %}</title>
    <!-- Add any necessary CSS or external stylesheets -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
 
    
</head>
<body>
    <header>
        <div class="cont-header">
            <div class="logo">
                <!-- <h1>Mental Health <span>Awareness</span></h1> -->
                <a id="header_logo" href="/">
                    <img src="{% static 'images/logo.png' %}" width="350px" height="150px"/>
                 </a>
            </div>
            <div class="menu-toggle"><i class="fas fa-bars"></i></div>
            <nav>
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="{% url 'article_list' %}">Articles</a></li>
                    <li><a href="{% url 'therapist_list' %}">Therapists</a></li>
                    <li class="dropdown">
                        <a href="#" class="dropbtn">Categories</a>
                        <div class="dropdown-content">
                            {% for category in categories %}
                            <a href="{% url 'article_by_category' category %}">{{ category }}</a>
                            {% endfor %}
                        </div>
                    </li>
                    <li><a href="{% url 'about' %}">About Us</a></li>
                    <li><a href="{% url 'feedback' %}">Feedback</a></li>
                </ul>
            </nav>
            
            {% if user.is_authenticated %}
    <div class="profile">
        <div class="dropdown">
            {% if user.profile.image %}
                <img src="{{ user.profile.image.url }}" alt="Profile Picture" class="dropbtn">
            {% else %}
                <img src="{% static 'images/profile.png' %}" alt="Default Profile Picture">
            {% endif %}
            <div class="dropdown-content">
                {% if user.role == 'Therapist' %}
                    <a href="{% url 'patient_dashboard' %}">My Dashboard</a>
                {% elif user.role == 'Patient' %}
                    <a href="{% url 'therapist_dashboard' %}">My Dashboard</a>
                {% else %}
                    <a href="{% url 'therapist_dashboard' %}">My Dashboard</a>  <!-- Handle other roles or admin case -->
                {% endif %}
                <a href="#">My Profile</a>
                <a href="{% url 'logout' %}">Logout</a>
            </div>
        </div>
    </div>
{% else %}
    <div class="profile">
        <a href="{% url 'login' %}" class="join-now">JOIN NOW</a>
    </div>
{% endif %}


        </div>
    </header>
    
    <main>
        
        {% block content %}
        
        {% endblock %}
    </main>

    <footer>
        <div class="container">
            <ul class="menu-footer">
                <li><a href="{% url 'article_list' %}">Privacy Policy</a></li>
                <li><a href="{% url 'article_list' %}">Terms of Service</a></li>
            </ul>
            <p>&copy; {% now "Y" %} Mental Health. All rights reserved.</p>
        </div>
    </footer>
</body>

</html>
