{% extends 'base.html' %}
{% block title %}Home - Health{% endblock %}

{% block content %}
{% load static %}
    <div class="container">
            <h2>Available Articles</h2>
            <div class="quiz-cards">
                {% for article in articles %}
                <div class="card">
                    <img src="{{ article.image.url }}" alt="{{ article.title }}">
                    
                    <center><div class="card-content">
                        <h3>{{ article.title |truncatewords:7 }}</h3>
                        <p>{{ article.content |truncatewords:8 }}</p>
                        <a href="{% url 'article_detail' article.pk %}">Read More</a>

                    </div></center>
                </div>
                {% endfor %}
            </div>
    </div>
{% endblock %}