{% extends 'base.html' %}
{% block title %}Home - Health{% endblock %}

{% block content %}
{% load static %}
    <div class="container">
        <div class="container">
            <div class="main-content">
                <div class="text-content">
                    <h2>Welcome to Mental Health Awareness</h2>
                    <!-- <p>The landscape of reproductive health education for teenagers and young adults faces significant challenges, marked by gaps in knowledge, access, and engagement</p> -->
                    <br><a href="{% url 'article_list' %}" class="start-challenge">Reading Articles</a>
                    <a href="{% url 'therapist_list' %}" class="know-more">Find Therapists</a>
                </div>
                <div class="image-content">
                    <img src="{% static 'images/bg.png' %}" alt="Illustration of people with question marks" width="400px" height="250px">
                </div>
            </div>
        </div><br>
          <center>  <h2>Available Articles</h2> </center> 
            <div class="quiz-cards">
                {% for article in articles|slice:":6"%}
                <div class="card">
                    <img src="{{ article.image.url }}" alt="{{ article.title }}">
                    
                    <center><div class="card-content">
                        <h3>{{ article.title |truncatewords:7 }}</h3>
                        <p>{{ article.content |truncatewords:8 }}</p>
                        <a href="{% url 'article_detail' article.pk %}">Read More</a>

                    </div></center>

                </div>
                {% endfor %}
                {% if articles|length > 6 %}
                <div class="view-more">
                 <a href="{% url 'article_list' %}" class="view-more">View More Aricles</a>
                 </div>
                 {% endif %}
            </div>
            <h2><u>Available Therapists</u></h2>
            <div class="quiz-cards">
                {% for therapist in therapists %}
                    <div class="card">
                        <img src="{{ therapist.profile_picture.url }}" alt="{{ therapist.names }}">
                        <center>
                            <div class="card-content">
                                <h3>{{ therapist.names | truncatewords:7 }}</h3>
                                <p>{{ therapist.bio | truncatewords:7 }}</p>
                                <a href="{% url 'therapist_detail' therapist.id %}">Read More</a>
                                <a href="{% url 'book_therapist' therapist.id %}">Book me</a>
    
                            </div>
                        </center>
                    </div>
                {% endfor %}
            </div><br><br>
    </div>
{% endblock %}