{% extends 'base.html' %}
{% block title %}Home - Health Mental Awareness{% endblock %}

{% block content %}
{% load static %}
    <div class="container">
        <div class="quiz-cards">
            {% for therapist in therapists %}
                <div class="card">
                    <img src="{{ therapist.profile_picture.url }}" alt="{{ therapist.names }}">
                    <center>
                        <div class="card-content">
                            <h3>{{ therapist.names | truncatewords:7 }}</h3>
                            <p>{{ therapist.bio | truncatewords:7 }}</p>
                            <a href="{% url 'therapist_detail' therapist.id %}">Read More</a>
                            <a href="{% url 'book_therapist' therapist.id %}">Book me</a>

                        </div>
                    </center>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
